<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
   <h1> To Do List </h1>
   <h2> <%= currentDay %> </h2>  
   
    <ul>
        <% for (let i = 0; i < tasks.length; i++) { %>
            <li> <%= tasks[i] %> </li>
            <% } %>
    </ul>


    <form action="/" class="form-new-task" method="post">
        <input type="text" name="task" class="task" placeholder="new task"> 
        <button class="form-button" type="submit">Add</button>
    </form>
    
        
</body>
</html>